@-webkit-keyframes animatecontent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animatecontent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-content {
  position: relative;
  -webkit-animation-name: animatecontent;
  -webkit-animation-duration: 1s;
  animation-name: animatecontent;
  animation-duration: 1s;
}
